
.shadow-right{
    box-shadow: 0.15rem 0 1.75rem 0 rgb(33 40 50 / 15%) !important;
}

.main-div{
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
}

.main-container{
    padding-top: 70px !important;
    padding-left: 240px !important;
}

.main-sidebar{
    padding-top: 70px !important;
}

.left {
    position:fixed !important;
}

.fixed {
    min-height: 100vh !important;
    min-width: 225px !important;
    max-width: 180px !important;
}

.col .fluid {
    min-height: 100vh !important;
}

.flex-grow {
    flex:1 !important;
}

#topNav {
    margin-left:225px !important;
}

.pointer{
    cursor: pointer;
}

.welcome{
    background: white !important;
}

.tip-card{
    border-left: 3px solid #4e73df;
    border-radius: 0.5rem;
    padding: 0.375rem 0.75rem;
    text-align: left !important;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.tip-card-icon{
    font-size: 20px;
}

.tip-card:hover{
    border-color: #4e73df !important;
    color: white !important;
    background-color: #4e73df
}

.tip-card a{
    display: contents;
    cursor: pointer;
    text-decoration: none !important;
    color: inherit;
}

.tip-card a:hover{
    color: inherit;
}

@media (min-width: 576px){
    .jumbotron2 {
        padding: 2.3rem 2rem;
    }
}

.dark-theme .jumbotron2{
    border: 1px solid #1d1d1d
}

.t-required{
    color:#ff4b4b !important;
    font-size: 15px !important;
}

.card-drop{
    transition: color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card-drop:hover{
    box-shadow: 0 0.15rem 1.75rem 0 rgb(72 74 92 / 32%) !important
}

.card-drop-icon{
    cursor: pointer;
    color: #dddfeb !important;
}

.card-drop-icon:hover{
    color: #b7b9cc !important;
}

.logo{
    height: 3.375rem;
    font-size: 1rem;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}

.message-alert{
    position: fixed !important;
    top: 5px;
    left: 54%;
    width: 40%;
    margin: 75px;
    z-index: 99;
}

.pag-profile{
    display: inline-block;
    font-size: 1rem;
    height: 5rem;
    position: relative;
    width: 5rem;
}

.pag-profile-img{
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.dark-theme .div-profile-img{
    background: #101010;
}

.dark-theme .div-profile-img h5{
    color:white;
}

.dark-theme .div-profile-img small{
    color: #858796 !important;
}

.light-theme .div-profile-img{
    background: white;
    color:#858796;
}


.dark-theme .div-profile-img .btn-primary{
    background: #202020;
    border-color: #202020;
}

.dark-theme .div-profile-img .btn-primary:hover{
    background: #000000;
    border-color:#000000;
}

.dark-theme .list-pagination-next li{
    border-left: 1px solid #171717;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
}

.light-theme .list-pagination-next li{
    border-left: 1px solid #e6e6e6;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
}

.list-pagination-next{
    margin-right: 5px;
}

.list-pagination-prev{
    margin-left: 5px;
}

.list-pagination-next li a{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-radius: 0rem !important;
    border: 0 !important;
}

.dark-theme .list-pagination-prev li{
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    border-right: 1px solid #171717;
}

.light-theme .list-pagination-prev li{
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    border-right: 1px solid #e6e6e6;
}

.list-pagination-prev li a{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-radius: 0rem !important;
    border: 0 !important;
}

.list-pagination a{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-radius: 0rem !important;
    border: 0 !important;
}

.div-search .input-group{
    padding: 0.2rem 0.5rem;
}

.table-search{
    padding: 0.375rem 0.1rem !important;
}

.light-theme .div-search .input-group-text{
    color: #b7b7b7 !important;
}

.light-theme .table-search:focus{
    box-shadow: none !important;
    border: 1px solid #cccccc00 !important;
}

.light-theme input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b7b7b7 !important;
    opacity: 1; /* Firefox */
}

.light-theme .table-search::-webkit-input-placeholder{
    color: #b7b7b7 !important;
}

.light-theme .table-search:-moz-placeholder{
    color: #b7b7b7 !important;
}

.dark-theme .div-search .input-group-text{
    color: #464646 !important;
}

.dark-theme .table-search:focus{
    box-shadow: none !important;
    border: 1px solid #cccccc00 !important;
}

.dark-theme .table-search::-webkit-input-placeholder{
    color: #464646 !important;
}

.dark-theme .table-search:-moz-placeholder{
    color: #464646 !important;
}

.dark-theme input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #7a7a7a !important;
    opacity: 1; /* Firefox */
}

.me-1{
    margin-right: .3875rem !important;
}

.ms-1{
    margin-left: .3875rem !important;
}

.pagination-tabs .page-link{
    padding: 0.9rem .75rem !important;

}

.dark-theme .color-primary{
    color: white;
}

.light-theme .color-primary{
    color: #4e73df;
}

.dark-theme .bg-primary{
    background-color:#151515 !important;
    background:#151515 !important;
}

.light-theme .bg-primary{
    background-color: white !important;
}

.dark-theme .card-header{
    background: #1b1b1b !important;
}

.dark-theme .card-footer{
    background: #151515 !important;
}

.search-img-svg{
    width: 280px !important;
}

.w-90{
    width: 90% !important;
}

.w-80{
    width: 80% !important;
}

.h-90{
    height: 90% !important;
}

.h-80{
    height: 80% !important;
}

.as-center{
align-self: center;
}

.footer-disabled {
    pointer-events: none !important;
    cursor: default !important;
}